cdc-sandbox/nbs-classic/builder/NEDSSDev/GenerateJarFromXSD/PagePortMapping/PortPageMapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2012 (http://www.altova.com)-->
<xs:schema xmlns:nbs="http://www.cdc.gov/NEDSS" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cdc.gov/NEDSS" elementFormDefault="qualified">
	<xs:element name="Mapping">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MappingName" type="xs:string" minOccurs="1" maxOccurs="1"/>
				<xs:element name="FromPageFormCd" type="nbs:PageFormCd" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ToPageFormCd" type="nbs:PageFormCd" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ExportFromState" type="nbs:ExportFromState" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ExportDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
				<xs:element name="MappedElement" type="nbs:MappedElement" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="MappedElement">
		<xs:sequence>
			<xs:element name="FromQuestionUid" type="nbs:QuestionId" minOccurs="0"/>
			<xs:element name="FromAnswer" type="nbs:Answer" minOccurs="0"/>
			<xs:element name="FromCodeSetNm" type="nbs:CodeSetNm" minOccurs="0"/>
			<xs:element name="FromDataType" type="nbs:DataType" minOccurs="0"/>
			<xs:element name="FromNbsUiComponentUid" type="xs:long" minOccurs="0"/>
			<xs:element name="ToQuestionId" type="nbs:QuestionId" minOccurs="0"/>
			<xs:element name="ToAnswer" type="nbs:Answer" minOccurs="0"/>
			<xs:element name="ToCodeSetNm" type="nbs:CodeSetNm" minOccurs="0"/>
			<xs:element name="ToDataType" type="nbs:DataType" minOccurs="0"/>
			<xs:element name="ToNbsUiComponentUid" type="xs:long" minOccurs="0"/>
			<xs:element name="BlockIdNbr" type="xs:int" minOccurs="0"/>
			<xs:element name="MappingStatus" type="nbs:MappingStatus" minOccurs="1" maxOccurs="1"/>
			<xs:element name="QuestionMapped" type="nbs:QuestionAnswerMapped" minOccurs="0"/>
			<xs:element name="AnswerMapped" type="nbs:QuestionAnswerMapped" minOccurs="0"/>
			<xs:element name="AnswerGroupSeqNbr" type="xs:int" minOccurs="0"/>
			<xs:element name="ConversionType" type="nbs:ConversionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="QuestionId">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PageFormCd">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeSetNm">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Answer">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QuestionAnswerMapped">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MappingStatus">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MappingName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExportFromState">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConversionType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
