cdc-sandbox/nbs-classic/builder/NEDSSDev/source/PropertyFiles/CDF_Subform_Import.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by RKomanduri (Computer Sciences Corp) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="NEDSSImport">
		<xs:complexType>
			<xs:all>
				<xs:element ref="CustomDefinedFields" minOccurs="0"/>
				<xs:element ref="CustomSubForms" minOccurs="0"/>
				<xs:element ref="version"/>
				<xs:element ref="comment" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
		<xs:key name="objectID">
			<xs:selector xpath="CustomDefinedFields/CustomDefinedField | CustomSubForms/CustomSubForm"/>
			<xs:field xpath="objectID"/>
		</xs:key>
	</xs:element>
	<xs:simpleType name="nonNullString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="optionalInteger">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9])*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="optionalYesNoIndicator">
		<xs:restriction base="xs:string">
			<xs:pattern value="(Y|N)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="requiredYesNoIndicator">
		<xs:restriction base="xs:string">
			<xs:pattern value="Y|N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="optionalTrueFalseIndicator">
		<xs:restriction base="xs:string">
			<xs:pattern value="(T|F)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="requiredTrueFalseIndicator">
		<xs:restriction base="xs:string">
			<xs:pattern value="T|F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="requiredActionType">
		<xs:restriction base="xs:string">
			<xs:pattern value="ADD|UPDATE|REMOVE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="CustomDefinedField">
		<xs:complexType>
			<xs:all>
				<xs:element ref="objectID"/>
				<xs:element ref="comment" minOccurs="0"/>
				<xs:element ref="actionType"/>
				<xs:element ref="nationalIdentifier" minOccurs="0"/>
				<xs:element ref="dataType"/>
				<xs:element ref="codeSetName" minOccurs="0"/>
				<xs:element ref="displayOrder" minOccurs="0"/>
				<xs:element ref="fieldSize" minOccurs="0"/>
				<xs:element ref="labelText"/>
				<xs:element ref="validationText" minOccurs="0"/>
				<xs:element ref="requiredIndicator" minOccurs="0"/>
				<xs:element ref="pageSetID"/>
				<xs:element ref="validationJavaScriptText" minOccurs="0"/>
				<xs:element ref="NNDIndicator"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomDefinedFields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomDefinedField" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomSubForm">
		<xs:complexType>
			<xs:all>
				<xs:element ref="objectID"/>
				<xs:element ref="comment" minOccurs="0"/>
				<xs:element ref="actionType"/>
				<xs:element ref="displayOrder" minOccurs="0"/>
				<xs:element ref="name"/>
				<xs:element ref="classCode" minOccurs="0"/>
				<xs:element ref="HTMLSource"/>
				<xs:element ref="pageSetID"/>
				</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomSubForms">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomSubForm" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="objectID" type="nonNullString"/>
	<xs:element name="actionType" type="requiredActionType"/>
	<xs:element name="version" type="xs:positiveInteger"/>
	<xs:element name="comment" type="xs:string"/>
	<xs:element name="HTMLSource" type="nonNullString"/>
	<xs:element name="NNDIndicator" type="requiredYesNoIndicator"/>
	<xs:element name="classCode" type="xs:string"/>
	<xs:element name="codeSetName" type="xs:string"/>
	<xs:element name="dataType" type="nonNullString"/>
	<xs:element name="displayOrder" type="optionalInteger"/>
	<xs:element name="fieldSize" type="optionalInteger"/>
	<xs:element name="labelText" type="nonNullString"/>
	<xs:element name="name" type="nonNullString"/>
	<xs:element name="nationalIdentifier" type="xs:string"/>
	<xs:element name="pageSetID" type="nonNullString"/>
	<xs:element name="requiredIndicator" type="optionalTrueFalseIndicator"/>
	<xs:element name="validationJavaScriptText" type="xs:string"/>
	<xs:element name="validationText" type="xs:string"/>
</xs:schema>
