cdc-sandbox/nbs-classic/builder/NEDSSDev/Libraries/PartnerServices/PSData_v3.xsd

<!-- Standalone PS Version 3.0 July 2018 -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="xpemsPSData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeaderInformation" type="typeHeader"/>

				<!--
				 These show in EvaluationWeb within the PS Sites views in reflexx, and not in Manage Agencies 
				-->
				<xs:element name="sites" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="site" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="siteId" type="typeId"/>
										<!--  S01  -->
										<xs:element name="siteTypeValueCode" type="typeSiteType"/>
										<!--  S04  -->
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="clients" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="client" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="birthYear" type="typeYear" minOccurs="0"/>
										<!--  G112  -->

										<xs:element name="ethnicity" minOccurs="0" type="typeEthnicity"/>
										<!--  G114  -->

										<xs:element name="eHarsStateNumber" type="typeId"/>
										<!--  H04c  -->

										<xs:element name="eHarsCityCountyNumber" type="typeId"/>
										<!--  H04d  -->

										<xs:element name="races" type="typeRaces"/>
										<!-- G116 -->

										<xs:element name="birthGenderValueCode" minOccurs="0" type="typeBirthGender"/>
										<!--  G123  -->

										<xs:element name="currentGenderValueCode" minOccurs="0" type="typeCurrentGender"/>
										<!--  G124  -->

										<xs:element name="clientRiskProfiles" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="clientRiskProfile" minOccurs="0" type="typeRiskProfile" maxOccurs="unbounded"></xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>

										<xs:element name="asAnIndex" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="agencyId" type="typeId"/>
													<!--  A01a  -->
													<xs:element name="progAnnouncementProgStrategy" type="typeProgramAnnouncement" minOccurs="0"/>
													<!--  X137  -->
													<xs:element name="partnerServiceCaseNumber" type="typeId"/>
													<!--  PCR101  -->
													<xs:element name="indexDateDemographicsCollected" type="typeDate" minOccurs="0"/>
													<!--  G101  -->
													<xs:element name="clientHIVStatus" type="typePSClientHIVStatus" minOccurs="0" />
													<!--  X138 -->
													<xs:element name="hivStage" type="typeHIVStage" minOccurs="0" />
													<!--  X224 -->
													<xs:element name="formId" type="typeId"/>
													<!--  H04a  -->

													<xs:element name="partnerServiceCases" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="partnerServiceCase" minOccurs="1" maxOccurs="unbounded" type="typeCase"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>

													<xs:element name="attemptsToLocate" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="attemptToLocate" maxOccurs="unbounded" type="typeAttemptToLocate"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>

													<xs:element name="elicitPartners" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="elicitPartner" maxOccurs="unbounded" type="typeElicitPartner"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>

													<xs:element name="sessions" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="session" minOccurs="0" maxOccurs="unbounded" type="typeSession"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element> <!-- End as an Index -->

										<!--  This client as a Partner  -->
										<xs:element name="asAPartner" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="partner" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="agencyId" type="typeId"/>
																<!--  A01a  -->
																<xs:element name="partnerServiceCaseNumber" type="typeId" maxOccurs="unbounded"/>
																<!--  PCR101  -->
																<xs:element name="partnerDateDemographicsCollected" type="typeDate" minOccurs="0"/>
																<!--  G101  -->
																<xs:element name="partnerType" minOccurs="0" type="typePartnerType"/>
																<!--  PCR207  -->

																<xs:element name="attemptsToLocate" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="attemptToLocate" maxOccurs="unbounded" type="typeAttemptToLocate"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>

																<xs:element name="exposureNotifications" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="exposureNotification" type="typePartnerNotification" minOccurs="0" maxOccurs="unbounded" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>

																<xs:element name="sessions" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="session" minOccurs="0" maxOccurs="unbounded" type="typeSession"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>

																<xs:element name="partnerTestingAndReferrals" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="partnerTestingAndReferral" type="typeTestingAndReferral" minOccurs="0" maxOccurs="unbounded"></xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>

															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element> <!-- End as a partner -->
									</xs:sequence>
									<xs:attribute name="localClientId" type="typeId" use="required"/>
									<!--  G103  -->
									<xs:attribute name="lastModifiedDate" type="typeDate" use="required"/>
									<!--  G103  -->

								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="typeSession">
		<xs:all>
			<xs:element name="siteId" type="typeId" minOccurs="0"/>
			<!--  S01  -->
			<xs:element name="sessionDate" type="typeDate" minOccurs="0"/>
			<!--  H06  -->
			<xs:element name="careStatusAtInterview" type="typeCareStatus" minOccurs="0"/>
			<!--  X725b  -->
		</xs:all>
	</xs:complexType>


	<xs:complexType name="typeAttemptToLocate">
		<xs:sequence>
			<xs:element name="attemptToLocateOutcome" type="typeAttemptToLocateOutcome" minOccurs="0"/>
			<!--  X302  -->
			<xs:element name="reasonForUnsuccessfulAttempt" type="typeReasonForUnsuccessfulAttempt" minOccurs="0"/>
			<!--  X303  -->
			<xs:element name="enrollmentStatus" type="typeEnrollmentStatus" minOccurs="0"/>
			<!--  X306  -->
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="typeElicitPartner">
		<xs:sequence>
			<xs:element name="totalNumberOfPartnersClaimed" type="xs:nonNegativeInteger" minOccurs="0"/>
			<!--  X503  -->
			<xs:element name="totalNumberOfNamedPartners" type="xs:nonNegativeInteger" minOccurs="0"/>
			<!--  X511  -->
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="typeRiskProfile">
		<xs:sequence>
			<xs:element name="dateCollectedForRiskProfile" type="typeDate" minOccurs="0"/>
			<!--  G200  -->

			<xs:element name="vaginalOrAnalSexInLast12Mnths" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="withMale" type="typeRiskResponse" minOccurs="0"/>
						<!--  G216a  -->
						<xs:element name="withFemale" minOccurs="0" type="typeRiskResponse"/>
						<!--  G216b  -->
						<xs:element name="withTransgender" minOccurs="0" type="typeRiskResponse"/>
						<!--  G216c  -->
						<xs:element name="vaginalOrAnalSexWithoutCondomPS" minOccurs="0" type="typeRiskResponse"/>
						<!--  G222  -->
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="injectionDrugUse" minOccurs="0" type="typeRiskResponse"/>
			<!--  G211_01  -->

		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="typeCase">
		<xs:all>
			<xs:element name="caseOpenDate" type="typeDate"/>
			<!--  PCR103  -->
			<xs:element name="caseCloseDate" type="typeDate" minOccurs="0"/>
			<!--  PCR104  -->
			<xs:element name="careStatusAtCaseClose" minOccurs="0" type="typeCareStatus"/>
			<!--  PCR104a  -->
		</xs:all>
	</xs:complexType>


	<xs:complexType name="typePartnerNotification">
		<xs:sequence>
			<xs:element name="partnerNotifiability" type="typeNotifiability" minOccurs="0"/>
			<!--  X600  -->
			<xs:element name="actualNotificationMethod" type="typeNotificationMethod" minOccurs="0"/>
			<!--  X601  -->
			<xs:element name="previousHivTestValueCode" type="typePreviousHIVTest" minOccurs="0"/>
			<!--  G204  -->
			<xs:element name="previousHIVTestResult" type="typePreviousHIVTestResult" minOccurs="0"/>
			<!--  G205a  -->
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="typeTestingAndReferral">
		<xs:sequence>
			<xs:element name="hivTestPerformed" type="typeHIVTestPerformed" minOccurs="0"/>
			<!--  X712  -->
			<xs:element name="sampleDate" type="typeDate" minOccurs="0"/>
			<!--  X105  -->
			<xs:element name="formId" type="typeId"/>
			<!--  H04a -->
			<xs:element name="hivTestResult" type="typeHIVTestResult" minOccurs="0"/>
			<!--  X125  -->
			<xs:element name="provisionOfResultValueCode" type="typeProvisionOfResult" minOccurs="0"/>
			<!--  X111  -->
			<xs:element name="syphilisTest" type="typeYesNo" minOccurs="0"/>
			<!--  X712a -->
			<xs:element name="syphilisTestResult" type="typeSyphilisTestResult" minOccurs="0"/>
			<!--  X712b -->
			<xs:element name="currentHIVMedicalCareStatus" type="typeCurrentHIVMedicalCareStatus" minOccurs="0"/>
			<!--  X706c  -->
			<xs:element name="firstMedicalCareAppointmentDate" type="typeDate" minOccurs="0"/>
			<!--  X706d  -->
			<xs:element name="currentlyOnPrEP" type="typeYesNo" minOccurs="0"/>
			<!--  X731  -->
			<xs:element name="referredToPrEP" type="typeReferredToPrEP" minOccurs="0"/>
			<!--  X731a -->
		</xs:sequence>
	</xs:complexType>


	<xs:simpleType name="typeId">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeYear">
		<xs:restriction base="xs:token">
			<xs:pattern value="((18|19|20)\d\d)?"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeDate">
		<xs:restriction base="xs:token">
			<xs:pattern value="([0-1]?\d/[0-3]?\d/(18|19|20)\d\d)?"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeDateTime">
		<xs:restriction base="xs:token">
			<xs:pattern value="([0-1]?\d/[0-3]?\d/(19|20)\d\d( [ 012]\d:[0-5]\d:[0-5]\d)?)?"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeEthnicity">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="E1"/>
			<!-- Hispanic or Latino -->

			<xs:enumeration value="E2"/>
			<!-- Not Hispanic or Latino -->

			<xs:enumeration value="77"/>
			<!-- Declined to answer -->

			<xs:enumeration value="99"/>
			<!-- Don't know -->
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="typeRaces">
		<xs:sequence>
			<xs:element name="race" maxOccurs="7">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="raceValueCode">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="R1"/>
									<!-- American Indian or Alaska Native -->

									<xs:enumeration value="R2"/>
									<!-- Asian -->

									<xs:enumeration value="R3"/>
									<!-- Black or African American -->

									<xs:enumeration value="R4"/>
									<!-- Native Hawaiian or Pacific Islander -->

									<xs:enumeration value="R5"/>
									<!-- White -->

									<xs:enumeration value="55"/>
									<!-- Not specified -->

									<xs:enumeration value="77"/>
									<!-- Declined to answer -->

									<xs:enumeration value="99"/>
									<!-- Don't know -->
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="raceId" use="optional"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="typeBirthGender">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="1"/>
			<!-- Male -->

			<xs:enumeration value="2"/>
			<!-- Female -->

			<xs:enumeration value="77"/>
			<!-- Declined to answer -->
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="typeCurrentGender">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="1"/>
			<!-- Male -->

			<xs:enumeration value="2"/>
			<!-- Female -->

			<xs:enumeration value="3"/>
			<!-- Transgender - MTF -->

			<xs:enumeration value="4"/>
			<!-- Transgender - FTM -->

			<xs:enumeration value="5"/>
			<!-- Transgender Unspecified -->

			<xs:enumeration value="6"/>
			<!-- Another Gender -->

			<xs:enumeration value="77"/>
			<!-- Declined to answer -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeProgramAnnouncement">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="19"/>
			<!-- PS17-1711 -->

			<xs:enumeration value="20"/>
			<!-- PS18-1802 -->

			<xs:enumeration value="21"/>
			<!-- PS18-1802 Demonstration -->

			<xs:enumeration value="22"/>
			<!-- PS19-1901 CDC STD -->

			<xs:enumeration value="98"/>
			<!-- Other - CDC Funding -->

			<xs:enumeration value="99"/>
			<!-- Other - Non CDC Funding -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typePSClientHIVStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="1"/>
			<!-- New Diagnosis, verified -->

			<xs:enumeration value="2"/>
			<!-- New Diagnosis, not verified -->

			<xs:enumeration value="3"/>
			<!-- Previous Diagnosis -->

			<xs:enumeration value="4"/>
			<!-- Unable to Determine -->
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="typeHIVStage">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="10"/>
			<!-- HIV Stage 0 -->

			<xs:enumeration value="11"/>
			<!-- HIV Stage 1 -->

			<xs:enumeration value="12"/>
			<!-- HIV Stage 2 -->

			<xs:enumeration value="13"/>
			<!-- HIV Stage 3 -->

			<xs:enumeration value="99"/>
			<!-- HIV Unknown -->
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="typePartnerType">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="1"/>
			<!-- Sex partner -->

			<xs:enumeration value="2"/>
			<!-- Needle-sharing partner -->

			<xs:enumeration value="3"/>
			<!-- Both sex and needle sharing partner -->
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="typeCareStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="1"/>
			<!-- In Care -->

			<xs:enumeration value="2"/>
			<!-- Not In Care -->

			<xs:enumeration value="3"/>
			<!-- Pending -->

			<xs:enumeration value="77"/>
			<!-- Declined to Answer -->

			<xs:enumeration value="99"/>
			<!-- Don't Know -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeAttemptToLocateOutcome">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="1"/>
			<!-- Unable to locate -->

			<xs:enumeration value="2"/>
			<!-- Located -->
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="typeReasonForUnsuccessfulAttempt">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="1"/>
			<!-- Deceased -->

			<xs:enumeration value="2"/>
			<!-- Out of Jurisdiction -->

			<xs:enumeration value="89"/>
			<!-- Other -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeEnrollmentStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="1"/>
			<!-- Accepted -->

			<xs:enumeration value="2"/>
			<!-- Declined -->

			<xs:enumeration value="3"/>
			<!-- Client not Located -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeRiskResponse">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="0"/>
			<!-- No -->

			<xs:enumeration value="1"/>
			<!-- Yes -->

			<xs:enumeration value="66"/>
			<!-- Not Asked -->

			<xs:enumeration value="77"/>
			<!-- Declined to Answer -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeNotifiability">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="1"/>
			<!-- No - Partner is deceased -->

			<xs:enumeration value="2"/>
			<!-- No - Partner is out of jurisdiction -->

			<xs:enumeration value="3"/>
			<!-- No - Partner has a risk of domestic violence -->

			<xs:enumeration value="5"/>
			<!-- No - Partner is known to be previously positive -->

			<xs:enumeration value="6"/>
			<!-- Yes - Partner is notifiable -->

			<xs:enumeration value="7"/>
			<!-- Yes - Partner is notifiable and known to be previously positive -->

			<xs:enumeration value="88"/>
			<!-- No - other -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeNotificationMethod">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="1"/>
			<!-- Client notification -->

			<xs:enumeration value="2"/>
			<!-- Provider notification -->

			<xs:enumeration value="3"/>
			<!-- Dual notification -->

			<xs:enumeration value="5"/>
			<!-- Third-party notification -->

			<xs:enumeration value="6"/>
			<!-- Refused notification -->

			<xs:enumeration value="7"/>
			<!-- Partner not notified -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typePreviousHIVTest">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="0"/>
			<!-- No -->

			<xs:enumeration value="1"/>
			<!-- Yes -->

			<xs:enumeration value="99"/>
			<!-- Don't know -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typePreviousHIVTestResult">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="1"/>
			<!-- Record Found- Positive -->

			<xs:enumeration value="2"/>
			<!-- Record Found-Negative -->

			<xs:enumeration value="3"/>
			<!-- Record Found- Preliminary Positive -->

			<xs:enumeration value="4"/>
			<!-- Record Found-Indeterminate -->

			<xs:enumeration value="5"/>
			<!-- No Record Found-Self Report Negative -->

			<xs:enumeration value="6"/>
			<!-- No Record Found-Self Report Positive -->

			<xs:enumeration value="7"/>
			<!-- No Record Found- No Self Report  -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeYesNo">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="0"/>
			<!-- No -->

			<xs:enumeration value="1"/>
			<!--Yes -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeSyphilisTestResult">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="1"/>
			<!-- Newly Identified Infection -->

			<xs:enumeration value="2"/>
			<!-- Not Infected -->

			<xs:enumeration value="3"/>
			<!-- Not Known -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeHIVTestResult">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="1"/>
			<!-- Preliminiary positive -->

			<xs:enumeration value="2"/>
			<!-- Positive -->

			<xs:enumeration value="3"/>
			<!-- Negative -->

			<xs:enumeration value="4"/>
			<!-- Discordant -->

			<xs:enumeration value="5"/>
			<!-- Invalid -->

			<xs:enumeration value="6"/>
			<!-- HIV-1 Positive -->

			<xs:enumeration value="7"/>
			<!-- HIV-1 Positive, Possible acute -->

			<xs:enumeration value="8"/>
			<!-- HIV-2 Positive -->

			<xs:enumeration value="9"/>
			<!-- HIV Positive, undifferentiated -->

			<xs:enumeration value="10"/>
			<!-- HIV-1 Negative, HIV-2 inconclusive -->

			<xs:enumeration value="11"/>
			<!-- HIV-1 Negative -->

			<xs:enumeration value="12"/>
			<!-- HIV Negative -->

			<xs:enumeration value="13"/>
			<!-- Inconclusive, further testing needed -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeProvisionOfResult">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="0"/>
			<!-- No -->

			<xs:enumeration value="1"/>
			<!-- Yes -->

			<xs:enumeration value="2"/>
			<!-- Yes, client obtained the result from another agency -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeCurrentHIVMedicalCareStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="1"/>
			<!-- Appointment pending -->

			<xs:enumeration value="2"/>
			<!-- Confirmed - Partner Accessed Service Within 14 Days of Positive Test -->

			<xs:enumeration value="3"/>
			<!-- Confirmed - Partner Accessed Service Within 30 Days of Positive test -->

			<xs:enumeration value="4"/>
			<!-- Confirmed - Partner Accessed Service After 30 Days of Positive Test -->

			<xs:enumeration value="5"/>
			<!-- Confirmed - Partner Did Not Access Service -->

			<xs:enumeration value="6"/>
			<!-- Partner Lost to Follow-Up -->

			<xs:enumeration value="7"/>
			<!-- No Appointment Necessary - Negative Test Result -->

			<xs:enumeration value="8"/>
			<!-- No Appointment Necessary-Partner Previous Positive and Engaged in Medical Care -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeReferredToPrEP">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="0"/>
			<!-- No -->

			<xs:enumeration value="1"/>
			<!-- Yes -->

			<xs:enumeration value="2"/>
			<!-- Partner Declined -->

			<xs:enumeration value="3"/>
			<!-- Partner on PREP-->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeHIVTestPerformed">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="0"/>
			<!-- No -->

			<xs:enumeration value="1"/>
			<!-- Yes -->

			<xs:enumeration value="2"/>
			<!-- No, Client is known to be HIV-positive -->
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="typeSiteType">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>

			<xs:enumeration value="F01.01"/>
			<!--  Clinical - Inpatient hospital  -->

			<xs:enumeration value="F02.12"/>
			<!--  Clinical - TB clinic  -->

			<xs:enumeration value="F02.19"/>
			<!--  Clinical - Substance abuse treatment facility  -->

			<xs:enumeration value="F02.51"/>
			<!--  Clinical - Community health center  -->

			<xs:enumeration value="F03"/>
			<!--  Clinical - Emergency department  -->

			<xs:enumeration value="F04.05"/>
			<!--  Non-clinical - HIV testing site  -->

			<xs:enumeration value="F06.02"/>
			<!-- Non-clinical - Community setting - School/educational facility -->

			<xs:enumeration value="F06.03"/>
			<!-- Non-clinical - Community setting - Church/mosque/synagogue/temple -->

			<xs:enumeration value="F06.04"/>
			<!-- Non-clinical - Community Setting - Shelter/transitional housing -->

			<xs:enumeration value="F06.05"/>
			<!-- Non-clinical - Community setting - Commercial facility -->

			<xs:enumeration value="F06.07"/>
			<!-- Non-clinical - Community setting - Bar/club/adult entertainment -->

			<xs:enumeration value="F06.08"/>
			<!--  Non-clinical - Community setting - Public area  -->

			<xs:enumeration value="F06.12"/>
			<!-- Non-clinical – Community setting – Individual residence -->

			<xs:enumeration value="F06.88"/>
			<!--  Non-clinical - Community setting - Other  -->

			<xs:enumeration value="F07"/>
			<!-- Non-clinical - Correctional facility - Non-healthcare -->

			<xs:enumeration value="F08"/>
			<!--  Clinical - Primary care clinic (other than CHC)  -->

			<xs:enumeration value="F09"/>
			<!--  Clinical - Pharmacy or other retail-based clinic  -->

			<xs:enumeration value="F10"/>
			<!--  Clinical - STD clinic  -->

			<xs:enumeration value="F11"/>
			<!--  Clinical - Dental clinic  -->

			<xs:enumeration value="F12"/>
			<!--  Clinical - Correctional facility clinic  -->

			<xs:enumeration value="F13"/>
			<!--  Clinical - Other  -->

			<xs:enumeration value="F14"/>
			<!--  Non-clinical - Health department - field visit  -->

			<xs:enumeration value="F15"/>
			<!-- Non-clinical - Community Setting - Syringe exchange program -->

			<xs:enumeration value="F40"/>
			<!-- Mobile Unit -->

			<xs:enumeration value="F88"/>
			<!--  Non-clinical - Other  -->

		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="typeHeader">
		<xs:sequence>
			<xs:element name="dataType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PS"/>
						<!--  Partner Services  -->
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SchemaVersionNumber" type="xs:string"/>
			<xs:element name="senderAgencyId" type="xs:string" minOccurs="0"/>
			<xs:element name="firstDate" type="xs:string" minOccurs="0"/>
			<xs:element name="lastDate" type="xs:string" minOccurs="0"/>
			<xs:element name="contactPersonInformation" type="xs:string"/>
			<xs:element name="agencyIDs" type="xs:string" minOccurs="0"/>
			<xs:element name="dateCreated" type="typeDateTime" minOccurs="0"/>
			<xs:element name="fileLastModifiedDate" type="typeDateTime" minOccurs="0"/>
			<xs:element name="specialInstructions" type="xs:string" minOccurs="0"/>
			<xs:element name="dataOwnerAgencyName" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>


