cdc-sandbox/nbs-classic/builder/NEDSSDev/source/gov/cdc/nedss/webapp/nbs/WEB-INF/xsp.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<!ELEMENT attributes (style?, id?, name?, linked?, width?)>
<!ELEMENT avr:import EMPTY>
<!ELEMENT avr:security EMPTY>
<!ELEMENT body (part | linkbar | toolbar | section | toolbar | errorbar | tabs | xsp:logic)+>
<!ELEMENT button (event)+>
<!ATTLIST button
	id CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT checkbox (event)+>
<!ATTLIST checkbox
	uid CDATA #IMPLIED
	id CDATA #IMPLIED
	name CDATA #IMPLIED
	checked CDATA #IMPLIED
	enabled CDATA #IMPLIED
	status CDATA #IMPLIED
>
<!ELEMENT column (xsp:logic | xsp:element | checkbox | graphic | text | hiddenfield | empty | button | radiobuttons | label | textbox | textarea | error | grid | listbox | iframe | format | jumpers | table | hyperlink | combobox)+>
<!ATTLIST column
	align (left | right | center) #IMPLIED
	display (Visible | Invisible | Hidden) #IMPLIED
	id CDATA #IMPLIED
	size CDATA #IMPLIED
	valign (top | bottom | middle | baseline) #IMPLIED
	width CDATA #IMPLIED
>
<!ELEMENT columnheader (event?)>
<!ATTLIST columnheader
	name CDATA #IMPLIED
	align (left | right | center) #IMPLIED
	wrap CDATA #REQUIRED
	id CDATA #IMPLIED
>
<!ELEMENT columnheaders (columnheader+)>
<!ELEMENT combobox (options)>
<!ATTLIST combobox
	id CDATA #REQUIRED
	name CDATA #REQUIRED
	max CDATA #IMPLIED
	restricted (true | false) #IMPLIED
	size CDATA #IMPLIED
	width CDATA #REQUIRED
>
<!ELEMENT empty EMPTY>
<!ELEMENT error EMPTY>
<!ATTLIST error
	ref CDATA #REQUIRED
>
<!ELEMENT errorbar EMPTY>
<!ELEMENT event (#PCDATA | xsp:expr | xsp:logic)*>
<!ATTLIST event
	name CDATA #REQUIRED
>
<!ELEMENT graphic (event)*>
<!ATTLIST graphic
	id CDATA #IMPLIED
	name CDATA #IMPLIED
	tooltip CDATA #IMPLIED
	url CDATA #REQUIRED
	width CDATA #REQUIRED
	height CDATA #REQUIRED
>
<!ELEMENT grid (row+)>
<!ATTLIST grid
	width CDATA #IMPLIED
	id CDATA #IMPLIED
>
<!ELEMENT format EMPTY>
<!ATTLIST format
	type CDATA #REQUIRED
>
<!ELEMENT head (#PCDATA | nedss:InitializeSessionTimer | script | scriptfile | xsp:logic)*>
<!ELEMENT hiddenfield EMPTY>
<!ATTLIST hiddenfield
	id CDATA #REQUIRED
	name CDATA #REQUIRED
>
<!ELEMENT hyperlink (event)>
<!ATTLIST hyperlink
	id CDATA #REQUIRED
	name CDATA #REQUIRED
>
<!ELEMENT hyperlinks (#PCDATA | hyperlink)*>
<!ELEMENT id (#PCDATA)>
<!ELEMENT ids (#PCDATA | id)*>
<!ELEMENT iframe EMPTY>
<!ATTLIST iframe
	id CDATA #REQUIRED
	name CDATA #REQUIRED
	align CDATA #REQUIRED
	frameborder CDATA #REQUIRED
	height CDATA #REQUIRED
	scrolling CDATA #REQUIRED
	url CDATA #REQUIRED
	width CDATA #REQUIRED
>
<!ELEMENT jumpers EMPTY>
<!ATTLIST jumpers
	value CDATA #REQUIRED
>
<!ELEMENT label EMPTY>
<!ATTLIST label
	ref CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT linkbar (ids, hyperlinks)>
<!ELEMENT linked (#PCDATA)>
<!ELEMENT listbox (options | event?)>
<!ATTLIST listbox
	id CDATA #REQUIRED
	name CDATA #REQUIRED
	blank CDATA #IMPLIED
	type CDATA #REQUIRED
	width CDATA #IMPLIED
	error CDATA #IMPLIED
>
<!ELEMENT name (#PCDATA | xsp:expr)*>
<!ELEMENT nedss:CheckSessionTimer EMPTY>
<!ELEMENT nedss:GetConstants EMPTY>
<!ATTLIST nedss:GetConstants
	class CDATA #REQUIRED
>
<!ELEMENT nedss:IfAddOrEdit (row)>
<!ELEMENT nedss:IfSHOW_DEBUG_BUTTON (nedss:IfServer)>
<!ELEMENT nedss:IfServer (toolbarButton)>
<!ELEMENT nedss:InitializeSessionTimer EMPTY>
<!ATTLIST nedss:InitializeSessionTimer
	frequency CDATA #REQUIRED
>
<!ELEMENT nedss:SetHeaders EMPTY>
<!ELEMENT nedss:import EMPTY>
<!ELEMENT nedss:init EMPTY>
<!ELEMENT options (xsp:logic | xsp:element)+>
<!ELEMENT parameter (#PCDATA | xsp:expr)*>
<!ATTLIST parameter
	name (border | title | uids | user | usermode | verbose | windowtitle) #REQUIRED
>
<!ELEMENT parameters (parameter+)>
<!ELEMENT page (part)+>
<!ELEMENT part (nedss:init | nedss:SetHeaders | parameters | head | toolbarDef | body | attributes | nedss:CheckSessionTimer | xsp:logic | event | avr:security | tabDef)+>
<!ELEMENT radiobutton (xsp:expr)>
<!ATTLIST radiobutton
	id CDATA #REQUIRED
	value CDATA #REQUIRED
	label CDATA #REQUIRED
>
<!ELEMENT radiobuttons (xsp:logic | radiobutton)+>
<!ATTLIST radiobuttons
	uid CDATA #REQUIRED
	name CDATA #REQUIRED
	align CDATA #REQUIRED
>
<!ELEMENT records (xsp:logic | xsp:element)+>
<!ELEMENT row (column)+>
<!ATTLIST row
	type CDATA #IMPLIED
>
<!ELEMENT script (#PCDATA | nedss:GetConstants | xsp:expr)*>
<!ELEMENT scriptfile (#PCDATA)>
<!ELEMENT section (part | subsection | xsp:logic)+>
<!ELEMENT style (#PCDATA)>
<!ELEMENT subsection (row | xsp:logic | nedss:IfAddOrEdit)+>
<!ATTLIST subsection
	name CDATA #REQUIRED
	line CDATA #REQUIRED
>
<!ELEMENT tab (event)>
<!ATTLIST tab
	id CDATA #REQUIRED
	name CDATA #REQUIRED
>
<!ELEMENT tabDef (tab | xsp:logic)+>
<!ATTLIST tabDef
	active CDATA #REQUIRED
>
<!ELEMENT table (columnheaders, records)>
<!ATTLIST table
	id CDATA #REQUIRED
>
<!ELEMENT tabs EMPTY>
<!ATTLIST tabs
	location CDATA #REQUIRED
>
<!ELEMENT text (#PCDATA | xsp:expr)*>
<!ATTLIST text
	format (Normal | Bold | Underline | BoldAndUnderline | Caption) #IMPLIED
	id CDATA #IMPLIED
>
<!ELEMENT textarea (#PCDATA | event)*>
<!ATTLIST textarea
	id CDATA #REQUIRED
	enabled (true | false) #IMPLIED
	name CDATA #REQUIRED
	rows CDATA #REQUIRED
	cols CDATA #REQUIRED
>
<!ELEMENT textbox (event)*>
<!ATTLIST textbox
	id CDATA #REQUIRED
	name CDATA #REQUIRED
	password (false | true) #IMPLIED
	size CDATA #REQUIRED
	max CDATA #REQUIRED
>
<!ELEMENT toolbar EMPTY>
<!ATTLIST toolbar
	location (bottom | top) #REQUIRED
>
<!ELEMENT toolbarButton (event)>
<!ATTLIST toolbarButton
	id CDATA #REQUIRED
	name CDATA #REQUIRED
>
<!ELEMENT toolbarDef (toolbarLeft, toolbarRight)>
<!ELEMENT toolbarLeft (nedss:IfSHOW_DEBUG_BUTTON | xsp:logic | toolbarButton | nedss:IfServer)*>
<!ELEMENT toolbarRight (#PCDATA | xsp:logic | toolbarButton)*>
<!ELEMENT width (#PCDATA)>
<!ELEMENT xsp:attribute (#PCDATA | xsp:expr)*>
<!ATTLIST xsp:attribute
	name CDATA #REQUIRED
>
<!ELEMENT xsp:element ANY>
<!ATTLIST xsp:element
	name CDATA #REQUIRED
>
<!ELEMENT xsp:expr (#PCDATA)>
<!ELEMENT xsp:logic (#PCDATA)>
<!ELEMENT xsp:page (nedss:import, avr:import?, (page | part))>
<!ATTLIST xsp:page
	xmlns:xsp CDATA #FIXED "http://apache.org/xsp"
	xmlns:xsp-request CDATA #FIXED "http://apache.org/xsp/request/2.0"
	xmlns:xsp-response CDATA #FIXED "http://apache.org/xsp/response/2.0"
	xmlns:xsp-session CDATA #FIXED "http://apache.org/xsp/session/2.0"
	xmlns:util CDATA #FIXED "http://apache.org/xsp/util/2.0"
	xmlns:nedss CDATA #FIXED "http://www.cdc.gov/nedss/logicsheet/nedss"
	language CDATA #FIXED "java"
>
